// Local font example
// @font-face {
//     font-family: 'Bw Modelica';
//     src: url('../fonts/BwModelica-Regular.eot');
//     src: url('../fonts/BwModelica-Regular.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/BwModelica-Regular.woff2') format('woff2'),
//          url('../fonts/BwModelica-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-ThinItalic.woff2') format('woff2'),
//         url('../fonts/Mestre-ThinItalic.woff') format('woff');
//     font-weight: 100;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-Heavy.woff2') format('woff2'),
//         url('../fonts/Mestre-Heavy.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-LightItalic.woff2') format('woff2'),
//         url('../fonts/Mestre-LightItalic.woff') format('woff');
//     font-weight: 300;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre Hairline';
//     src: url('../fonts/Mestre-Hairline.woff2') format('woff2'),
//         url('../fonts/Mestre-Hairline.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-BlackItalic.woff2') format('woff2'),
//         url('../fonts/Mestre-BlackItalic.woff') format('woff');
//     font-weight: 900;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre Hairline';
//     src: url('../fonts/Mestre-HairlineItalic.woff2') format('woff2'),
//         url('../fonts/Mestre-HairlineItalic.woff') format('woff');
//     font-weight: 300;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-HeavyItalic.woff2') format('woff2'),
//         url('../fonts/Mestre-HeavyItalic.woff') format('woff');
//     font-weight: 900;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-Thin.woff2') format('woff2'),
//         url('../fonts/Mestre-Thin.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-MediumItalic.woff2') format('woff2'),
//         url('../fonts/Mestre-MediumItalic.woff') format('woff');
//     font-weight: 500;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-Light.woff2') format('woff2'),
//         url('../fonts/Mestre-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-Italic.woff2') format('woff2'),
//         url('../fonts/Mestre-Italic.woff') format('woff');
//     font-weight: 500;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-Black.woff2') format('woff2'),
//         url('../fonts/Mestre-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Mestre';
    src: url('../fonts/Mestre-Regular.woff2') format('woff2'),
        url('../fonts/Mestre-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-BoldItalic.woff2') format('woff2'),
//         url('../fonts/Mestre-BoldItalic.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;
//     font-display: swap;
// }

@font-face {
    font-family: 'Mestre';
    src: url('../fonts/Mestre-Bold.woff2') format('woff2'),
        url('../fonts/Mestre-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Mestre';
//     src: url('../fonts/Mestre-Medium.woff2') format('woff2'),
//         url('../fonts/Mestre-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

