#wrapper-prefooter {

}

#wrapper-footer-full {
	background-image: url('../img/fondo-footer.jpg');
	background-size: cover;
	background-position: top left;
	padding-top: $spacer * 6;
}

#wrapper-footer {
	padding: $spacer 0 $spacer 0;
	background-color: $primary-100;
	color: $white;
	font-size: $font-size-sm;

	a {
		color: $white;
	}

	@include media-breakpoint-down(sm) {
		text-align: center;
	}

}
